<h1 data-test-title>List Foos</h1>

<LinkTo @route='jquery'>jquery</LinkTo> |
<LinkTo @route='promisified-jquery'>promisified-jquery</LinkTo> |
<LinkTo @route='promisified-xhr'>promisified-xhr</LinkTo> |
<LinkTo @route='data'>data</LinkTo>

{{outlet}}
